body{
    background-color: wheat;
    padding:20px;
    font-family: Arial, sans-serif;
}
h1{
    background-color: black;
    color: bisque;
    margin-bottom: 20px;
    text-align: center;
}
.box{
    padding:8px solid rgb(46, 8, 8);
    margin:20px auto;
    width: 400px;
    height: 150px;
    border: rgb(248, 5, 86);
}
.visible{
    overflow: visible;
}
.hidden{
    overflow: hidden;
}
.scroll{
    overflow: scroll;
}
.auto{
    overflow: auto;
}
.container{
    background-color: bisque;
    padding: 20px;
    margin:0;
    width:600px;
    border:3px solid purple;
    border-radius: 10px;
}
.float-left{
    float: left;
    margin:0 20px 20px 0;
    border: 3px solid rebeccapurple;
    border-radius: 10px;
}
.clearfix::after{
    display: table;
    clear: both;
}